<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="vue/vue.js"></script>
        <link rel="stylesheet" type="text/css" href="page/styles/carousel.css">
        <link rel="stylesheet" type="text/css" href="page/styles/style.css">
        <link rel="stylesheet" type="text/css" href="vendor/w3css/w3.css">
        <link rel="stylesheet" href="vendor/fonts/fontello/css/fontello.css">


    </head>
    <body>
        
        <div id="vue" class="slider">
            
            <div class="pageInner" 
            :class="pageTheme(pages_config.pages[selectedPageIndex])"
            :style="{left: '-' + selectedPageIndex + '00%', width: pagesCount() + '00%'}">
                <div v-for="page in pages_config.pages" class="pageContent w3-white">
                    <h2 class="pageTitle">{{page.title}} </h2>
                    <div class="myhr w3-container" :class="pageTheme(page)"></div>
                    <p class="slider__txt">{{page.message}}</p>
                </div>
            </div>
            
            <div v-for="(page, index) in pages_config.pages">
                <div  class="pageNav w3-hover-black" 
                :title="page.title"
                :class="[
                pageTheme(page),
                index == selectedPageIndex ? 'pageNav_checked' : '',
                ]"
                v-on:click="selectPage($event, index)">
                    <i :class="page.icon" class="w3-xlarge"></i>
                </div>
            </div>
          </div>

            
        </div>
        <script src="config.js"></script>
        <script src="page/main.js"></script>
    </body>
</html>