<html>
    <head>
        <script src="vue/vue.js"></script>
        <link rel="stylesheet" type="text/css" href="page/styles/carousel.css">
        <link rel="stylesheet" type="text/css" href="page/styles/style.css">
        <link rel="stylesheet" type="text/css" href="vendor/w3css/w3.css">
        <link rel="stylesheet" href="vendor/fonts/fontello/css/fontello.css">


    </head>
    <body>
        
        <div id="vue" class="slider">
            
            <div class="slider__inner" :style="{left: '-' + selectedPageIndex + '00%', width: pagesCount() + '00%'}">
                <div v-for="page in pages_config.pages" class="slider__contents">
                    

                    <h2 class="slider__caption">{{page.caption}} </h2>
                    <p class="slider__txt">{{page.message}}</p>
                </div>
            </div>
            
            <div v-for="(page, index) in pages_config.pages">
                <div v-on:click="selectPage($event, index)" :class="{slider__nav_checked: index == selectedPageIndex}" class="slider__nav">
                    <i :class="page.icon" class="w3-xlarge"></i>
                </div>
            </div>
          </div>

            
        </div>
        <script src="config.js"></script>
        <script src="page/main.js"></script>
    </body>
</html>