<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="shared/vue/vue.js"></script>
        <link rel="stylesheet" type="text/css" href="css/carousel.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="shared/vendor/w3css/w3.css">
        <link rel="stylesheet" href="shared/vendor/fonts/fontello/css/fontello.css">


    </head>
    <body>
        
        <div id="vue" class="slider">
            
            <div class="page-inner" 
            :class="pageTheme(pages_config.pages[selectedPageIndex])"
            :style="{left: '-' + selectedPageIndex + '00%', width: pagesCount() + '00%'}">
                <div v-for="page in pages_config.pages" class="page w3-white">
                    <div class="page-intro w3-text-white">
                        <div class="page-photo">
                            <img :src="page.photo"/>
                        </div>
                        <h2 class="page-title">{{page.title}} </h2>
                        <div class="page-hr w3-container" :class="pageTheme(page)"></div>
                        <p class="slider__txt">{{page.message}}</p>
                    </div>
                    <div class="page-content w3-white">
                        <card-component v-for="component in page.components"
                            v-bind:key="component.id"
                            v-bind:component="component"
                            v-bind:page="page"
                            v-bind:page-theme="pageTheme(page)"
                            v-bind:page-text-color="pageTextColor(page)">
                        </card-component>
                    </div>
                </div>
            </div>
            <div class="page-navigation" :class="{
                    'page-navigation-top': scrollPosition <= 300,
                    'page-navigation-side': scrollPosition > 300,
                }">
                
                <div v-for="(page, index) in pages_config.pages" 
                    class="page-nav-button"
                    v-on:click="selectPage($event, index)"
                    >
                    <div  class="page-nav-icon" 
                    :title="page.title"
                    :class="[
                    pageTheme(page),
                    index == selectedPageIndex ? 'page-nav-icon-checked w3-black' : '',
                    ]"
                    >
                        <i :class="page.icon"></i>
                    </div>
                    <div v-if="scrollPosition > 300" class="page-nav-title">
                        {{page.title}}
                    </div>
                </div>
                
            </div>
          </div>

            
        </div>
        <script src="js/config.js"></script>
        <script src="js/components.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>