
*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  color: #444;
  font-family: 'Roboto', sans-serif;
  font-size: 1rvw;
  line-height: 1.5;
}

.slider {
    height: 100%;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.page-navigation {
    right: auto;
    bottom: auto;
}
.page-navigation-top {
    margin-top: 6vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.page-navigation-side {
    position: fixed;
    transition: right 3s ease-in-out;
    right: 0.75vw;
    bottom: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page-button {
    margin: 0.5vw 2vw;
    min-width: 2vh;
    min-height: 2vh;
    padding: 1em 0.7em;
    border-radius: 50%;
    cursor: pointer;
    align-items: center;
}
.page-button-checked {
    animation: check 0.4s linear forwards;
    border: 2px solid black;
}

.page-inner {
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    transition: left 0.4s;
    display: flex;
}
.page-intro {
    height: 60vh;
    margin: 1vh;
    display: flex;
    flex-flow: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.page-content { 
    margin: 1vw;
    margin-right: 4.5em;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.page {
    height: 100%;
    max-height: 100%;
    margin: 1vw;
    text-align: center;
    display: flex;
    flex: 1;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.slider__image {
    font-size: 2.7rvw;
    color: #2196F3;
}
.page-title {
    font-weight: 500;
    margin: 2rvw 0 1rvw;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
}
.slider__txt {
    margin-bottom: 3rvw;
    max-width: 300px;
}

@-webkit-keyframes check {
    50% {
        outline-color: #333;
        box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
    }
    100% {
        outline-color: #333;
        box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
}

@keyframes check {
    50% {
        outline-color: #333;
        box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
    }
    100% {
        outline-color: #333;
        box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    }
}